body{
	position:relative;
	.row {
		padding:4% 0;
	}
}

/*================================
=            About            =
================================*/

.about {
	p {
		width:65%;
		margin:0 auto;
		text-align:center;
		padding-top:10px;
		margin-bottom:25px;
		font-size:1.2em;
	}
}

/*================================
=            Gallery            =
================================*/


/*================================
=             Shows             =
================================*/

.shows {
	background:$grey;
	ul {
		width:100%;
		list-style:none;
		display:inline-block;
		padding:0;
		margin:0;
		padding-top:3%;
		li {
			list-style:none;
			width:33.3%;
			float:left;
			text-align:center;
			color:white;
			padding:15px 0;
			.more {
				width:50%;
				border:1px solid $gold;
				float:none;
				color:white;
				text-transform:uppercase;
				margin-left:25%;
				padding:10px;

				a {
					color:white;
					text-decoration:none;
				}
			}
		}
	}
}

/*================================
=            Contact             =
================================*/

.contact {
	background:$grey;
	p {
		width:65%;
		color:white;
		margin:0 auto;
		text-align:center;
		padding-top:10px;
		margin-bottom:25px;
		font-size:1.2em;
	}
}

/*================================
=            Credit             =
================================*/

.credit {
	padding:30px 0;
	background:white;
	p {
		text-align:center;
		color:$grey;
	}
}
